body{


background-image: url("hello-github.png");


}
.id{


text-align: center;





}
.id li{

//will-change: contents;
	color:  #000000;
	font-family: sans-serif;
	font-size: 400%;
	margin-top: 10%;
	border-style: solid;

}
header{




color: #000000;


}
